@import '../../../../styles/variables.scss' ;


.thisDay{
    padding: 20px;
    max-width: 400px;
    width: 100%;
    background: $lite-backround;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
}
.topBlock{
    display: flex;
    align-items: center;justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
    .sonne{
        width: 119px;
        height: 119px;
    }
    .thisTemp{
        font-size: 96px;
        font-weight: 500;
        color: $primary-color;
    }
    .thisDayName{
        font-size: 40px;
        color:$lite-color;
        margin-bottom: 31px;
    }
}
.bottomBlock{
    color: $base-color;
    font-size: 25px;
    .thisTime{
        margin-bottom: 14px;
    }
}
